[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
requests = "*"
requests-cache = "*"
bbcode = "*"
python-docx = "*"
"pdfminer.six" = "*"

[requires]
python_version = "3.8"
